.highlight .hll {
    background-color: #ffffcc;
}
.highlight {
    background: #f8f8f8;
}
.highlight .c {
    color: #8f5902;
    font-style: italic;
} /* Comment */
.highlight .err {
    color: #a40000;
    border: 1px solid #ef2929;
} /* Error */
.highlight .g {
    color: #000000;
} /* Generic */
.highlight .k {
    color: #004461;
    font-weight: bold;
} /* Keyword */
.highlight .l {
    color: #000000;
} /* Literal */
.highlight .n {
    color: #000000;
} /* Name */
.highlight .o {
    color: #582800;
} /* Operator */
.highlight .x {
    color: #000000;
} /* Other */
.highlight .p {
    color: #000000;
    font-weight: bold;
} /* Punctuation */
.highlight .ch {
    color: #8f5902;
    font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
    color: #8f5902;
    font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
    color: #8f5902;
} /* Comment.Preproc */
.highlight .cpf {
    color: #8f5902;
    font-style: italic;
} /* Comment.PreprocFile */
.highlight .c1 {
    color: #8f5902;
    font-style: italic;
} /* Comment.Single */
.highlight .cs {
    color: #8f5902;
    font-style: italic;
} /* Comment.Special */
.highlight .gd {
    color: #a40000;
} /* Generic.Deleted */
.highlight .ge {
    color: #000000;
    font-style: italic;
} /* Generic.Emph */
.highlight .gr {
    color: #ef2929;
} /* Generic.Error */
.highlight .gh {
    color: #000080;
    font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
    color: #00a000;
} /* Generic.Inserted */
.highlight .go {
    color: #888888;
} /* Generic.Output */
.highlight .gp {
    color: #745334;
} /* Generic.Prompt */
.highlight .gs {
    color: #000000;
    font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
    color: #800080;
    font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
    color: #a40000;
    font-weight: bold;
} /* Generic.Traceback */
.highlight .kc {
    color: #004461;
    font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
    color: #004461;
    font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
    color: #004461;
    font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
    color: #004461;
    font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
    color: #004461;
    font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
    color: #004461;
    font-weight: bold;
} /* Keyword.Type */
.highlight .ld {
    color: #000000;
} /* Literal.Date */
.highlight .m {
    color: #990000;
} /* Literal.Number */
.highlight .s {
    color: #4e9a06;
} /* Literal.String */
.highlight .na {
    color: #c4a000;
} /* Name.Attribute */
.highlight .nb {
    color: #004461;
} /* Name.Builtin */
.highlight .nc {
    color: #000000;
} /* Name.Class */
.highlight .no {
    color: #000000;
} /* Name.Constant */
.highlight .nd {
    color: #888888;
} /* Name.Decorator */
.highlight .ni {
    color: #ce5c00;
} /* Name.Entity */
.highlight .ne {
    color: #cc0000;
    font-weight: bold;
} /* Name.Exception */
.highlight .nf {
    color: #000000;
} /* Name.Function */
.highlight .nl {
    color: #f57900;
} /* Name.Label */
.highlight .nn {
    color: #000000;
} /* Name.Namespace */
.highlight .nx {
    color: #000000;
} /* Name.Other */
.highlight .py {
    color: #000000;
} /* Name.Property */
.highlight .nt {
    color: #004461;
    font-weight: bold;
} /* Name.Tag */
.highlight .nv {
    color: #000000;
} /* Name.Variable */
.highlight .ow {
    color: #004461;
    font-weight: bold;
} /* Operator.Word */
.highlight .w {
    color: #f8f8f8;
    text-decoration: underline;
} /* Text.Whitespace */
.highlight .mb {
    color: #990000;
} /* Literal.Number.Bin */
.highlight .mf {
    color: #990000;
} /* Literal.Number.Float */
.highlight .mh {
    color: #990000;
} /* Literal.Number.Hex */
.highlight .mi {
    color: #990000;
} /* Literal.Number.Integer */
.highlight .mo {
    color: #990000;
} /* Literal.Number.Oct */
.highlight .sb {
    color: #4e9a06;
} /* Literal.String.Backtick */
.highlight .sc {
    color: #4e9a06;
} /* Literal.String.Char */
.highlight .sd {
    color: #8f5902;
    font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
    color: #4e9a06;
} /* Literal.String.Double */
.highlight .se {
    color: #4e9a06;
} /* Literal.String.Escape */
.highlight .sh {
    color: #4e9a06;
} /* Literal.String.Heredoc */
.highlight .si {
    color: #4e9a06;
} /* Literal.String.Interpol */
.highlight .sx {
    color: #4e9a06;
} /* Literal.String.Other */
.highlight .sr {
    color: #4e9a06;
} /* Literal.String.Regex */
.highlight .s1 {
    color: #4e9a06;
} /* Literal.String.Single */
.highlight .ss {
    color: #4e9a06;
} /* Literal.String.Symbol */
.highlight .bp {
    color: #3465a4;
} /* Name.Builtin.Pseudo */
.highlight .vc {
    color: #000000;
} /* Name.Variable.Class */
.highlight .vg {
    color: #000000;
} /* Name.Variable.Global */
.highlight .vi {
    color: #000000;
} /* Name.Variable.Instance */
.highlight .il {
    color: #990000;
} /* Literal.Number.Integer.Long */
